root = true

# It's better to use "wrap line" in plain text documents
[*.{adoc,md}]
rulers = 1000
max_line_length = 1000

[*.toml]
rulers = 96
max_line_length = 96

[*.{swift,sh}]
rulers = 120
max_line_length = 120
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
