# GitHub: linguist-generated marks paths that you would like to be ignored for the repository's language statistics and hidden by default in diffs
AeroSpace.xcodeproj/project.pbxproj linguist-generated=true
