/.idea
/.debug
/.release
/.shell-completion
/.site
/.man
/Gemfile.lock
# IDK, AppCode randomly creates this EMPTY file. I have no idea what this is
/default.profraw
.DS_Store
/.xcode-build
# Swift package manager
/.build
/swift-exec-deps/.build
/.vscode
# External dependencies
/.deps

# XCode User settings
xcuserdata/
xcshareddata/
