# Ignore everything in the root by default.
# New root entries must be explicitly added with `git add -f`
# New root directories must be explicitly listed below
/*

# Top level dirs
!/.bundle
!/.github
!/Sources
!/axDumps
!/dev-docs
!/docs
!/grammar
!/legal
!/resources
!/script
!/xcode

# Top level important files
!/*.sh
!/.editorconfig
!/.gitattributes
!/.gitignore
!/CONTRIBUTING.md
!/Gemfile
!/Package.resolved
!/Package.swift
!/README.md

/xcode/.xcode-build

# XCode User settings
xcuserdata/
xcshareddata/
