/.idea
/.debug
/.release
/.shell-completion
/.site
/.man
/Gemfile.lock
# IDK, AppCode randomly creates this EMPTY file. I have no idea what this is
/default.profraw
.DS_Store
/.xcode-build
# Swift package manager
/.build
/.swiftpm
/.vscode
# External dependencies
/.deps

# For whatever local files that developers might want to keep there (I personally keep a separate `generated-html` git worktree here)
/.local

# XCode User settings
xcuserdata/
xcshareddata/
